@font-face {
  font-family: 'HelveticaNeueThin';
  font-display: swap;
  src: url('../fonts/HelveticaNeueCyrThin.woff') format('woff'),
    url('../fonts/HelveticaNeueCyrThin.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'BebasNeueRegular';
  font-display: swap;
  src: url('../fonts/BebasNeueRegular.woff') format('woff'),
    url('../fonts/BebasNeueRegular.woff2') format('woff2');
  font-style: normal;
}
